<p style="color: green"><%= notice %></p>

<%= render @student %>

<p>
  <% if @student.profile_picture.attached? %>
    <%= image_tag @student.profile_picture.variant(resize_to_limit: [150, nil]) %>
  <% else %>
    <%= image_tag 'default-profile-picture.jpg', size: "150x150" %>
  <% end %>
</p>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>
  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
